<div class="app-container" id="taskList">
  <h1 class="app-header">TO DO LIST</h1>
  <div class="add-task">
    <input type="text" autocomplete="off" placeholder="Add New Task" v-model="tasks.name" @keyup.enter="newItem" class="task-input">
		<input type="submit" value="" class="submit-task" @click="newItem" title="Add Task">
  </div>
  <ul class="task-list">
		<li class="task-list-item" v-for="task in tasks">
			<label class="task-list-item-label">
        <input type="checkbox">
				<span>{{task.name}}</span>
			</label>
			<span @click="delItem(task)" class="delete-btn" title="Delete Task">{{task.del}}</span>
		</li>
	</ul>
</div>